<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <style>
        .note {
            color: red;
        }
    </style>
</head>
<body>
    <p>You are receiving this because you (or someone else) have requested the reset of the password for your account.</p>
    <p>Please click on the following link, or paste this into your browser to complete the process:</p>
    <p><a href="<%= frontendUrl %><%= resetToken %>">Reset Password</a></p>
    <p>If you did not request this, please ignore this email and your password will remain unchanged.</p>
    <p class="note">Note: This link is valid for only one hour.</p>
</body>
</html>
